<p>Dear {{ student.display_name }}:</p>

{% for slot, current_selection in slots %}
    <p>
        {% if current_selection %}
            Your assigned enrichment session on 
            {{ slot.date | date:"l F, j" }}<sup style="font-size: smaller;">{{ slot.date | date:"S"}}</sup>
            is with {{ current_selection.teacher.name }} in {{current_selection.location}}
        {% else %}
            You were not assigned an enrichment session on {{ slot.date | date:"l F, jS" }}.
            Please report to the education office during enrichment for further instructions
        {% endif %}
    </p>
{% endfor %}