{% extends "evaluations/base.html" %}

{% block title%}Evaluations{% endblock %}

{% block content %}
    {% if request.student %}
        <h2>Available Evaluations</h2>
        {% if incomplete_evaluations %}
            <ul>
                {% for evaluation in incomplete_evaluations %}
                    <li><a href="{% url 'evaluations:complete' pk=evaluation.pk %}">{{ evaluation.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Thank you, all your evaluations have been completed!</p>
        {% endif %}

        {% if completed_evaluations %}
            <h2>Completed evaluations</h2>
            <ul>
                {% for evaluation in completed_evaluations %}
                    <li>{{ evaluation.name }}, completed on {{ evaluation.completed_at }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}