
.git
.github
.dockerignore
.gitignore
.env
.env*
.mypy_cache
db.sqlite3
node_modules/

.idea
.vscode

__pycache__/
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.venv
venv

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode
.idea
scratch