{% extends "enrichment/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb "My Advisees" 'enrichment:advisor-assign' %}
{% endblock %}

{% block headextra %}
    {{ block.super }}
    {{ grid.options_for_json|json_script:"all-options"}}
    {% url 'enrichment:advisor-assign-save' as assign_url %}
    {{ assign_url|json_script:"assign-url" }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>My Advisees</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h2>Week of {{ week_of }}</h2>
            {% include "enrichment/partial/grid_multidate.html" with grid=grid %}
            <p>
                <a href="{% url 'enrichment:advisor-assign' %}?date={{ last_week|date:"Y-m-d"}}">Previous week</a>
                &bullet;
                <a href="{% url 'enrichment:advisor-assign' %}">This week</a>
                &bullet;
                <a href="{% url 'enrichment:advisor-assign' %}?date={{ next_week|date:"Y-m-d"}}">Next week</a>
            </p>
        </div>
        <div class="col-3">
            {% if jump_weeks %}
                <h3>Jump to</h3>
                <ul class="list-group">
                    {% for week in jump_weeks %}
                        <li class="list-group-item">
                            <a href="{% url 'enrichment:advisor-assign' %}?date={{ week|date:"Y-m-d"}}">Week of {{ week }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}