{% extends "enrichment/base.html" %}

{% load django_bootstrap_breadcrumbs static %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb title request.get_full_path %}
{% endblock %}

{% block headextra %}
    {{ block.super }}
    {{ grid.options_for_json|json_script:"all-options"}}
    {% url 'enrichment:assign-save' as assign_url %}
    {{ assign_url|json_script:"assign-url" }}

    <link href="{% static 'dist/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'dist/select2-4.0.13/js/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table slot-grid-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        {% for student in grid.students %}
                            <th>{{ student.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in grid.pivoted_rows %}
                        <tr>
                            <th>{{ row.slot.date }}</th>
                            
                            {% for student in row.students %}
                                <td>{% include "enrichment/partial/slot_grid_item.html" with data=student %}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}