{% extends "enrichment/base.html" %}

{% load django_bootstrap_breadcrumbs blackbaud %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% is_advisor as user_is_advisor %}
    <h1>Rectory Enrichment</h1>
    <p>
        <ul class="list-group">
            {% if user_is_advisor %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:assign' %}">Assign my advisees</a>
                </li>
            {% endif %}
            {% if perms.enrichment.assign_all_advisees %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:assign-all' %}">Assign all advisees</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'enrichment:assign-unassigned' %}">Assign unassigned advisees</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'enrichment:advisee-list' %}">Advisee list</a>
                </li>
            {% endif %}
            {% if perms.enrichment.assign_all_advisees or perms.enrichment.assign_other_advisees %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:advisor-list' %}">Advisor list</a>
                </li>
            {% endif %}
            {% if perms.enrichment.view_reports %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:weekly-report' %}">Assignment report</a>
                </li>
            {% endif %}
        </ul>
    </p>
{% endblock %}