{% extends "enrichment/base.html" %}

{% load django_bootstrap_breadcrumbs blackbaud %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% is_advisor as user_is_advisor %}
    <h1>Rectory Enrichment</h1>
    {% if not active_advisory_courses %}
        <div class="alert alert-danger" role="alert">
            The enrichment system is not currently functional as there are no active advisory courses.
            {% if user.is_staff and perms.blackbaud.change_advisorycourse %}
                Please add a new advisory course in the <a href="{% url 'admin:blackbaud_advisorycourse_changelist' %}">system admin</a>
            {% endif %}
        </div>
    {% endif %}

    {% if not active_advisory_schools %}
        <div class="alert alert-danger" role="alert">
            The enrichment system is not currently functional as there are no active advisory schools.
            {% if user.is_staff and perms.blackbaud.change_advisorycourse %}
                Please add a new advisory school in the <a href="{% url 'admin:blackbaud_advisoryschool_changelist' %}">system admin</a>
            {% endif %}
        </div>
    {% endif %}

    <p>
        <ul class="list-group">
            {% if user_is_advisor %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:assign' %}">Assign my advisees</a>
                </li>
            {% endif %}
            {% if perms.enrichment.assign_all_advisees %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:assign-all' %}">Assign all advisees</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'enrichment:assign-unassigned' %}">Assign unassigned advisees</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'enrichment:advisee-list' %}">Advisee list</a>
                </li>
            {% endif %}
            {% if perms.enrichment.assign_all_advisees or perms.enrichment.assign_other_advisees %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:advisor-list' %}">Advisor list</a>
                </li>
            {% endif %}
            {% if perms.enrichment.view_reports %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:weekly-report' %}">Assignment report</a>
                </li>
            {% endif %}
        </ul>
    </p>
{% endblock %}