{% extends "enrichment/base.html" %}

{% load django_bootstrap_breadcrumbs blackbaud %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% is_advisor as user_is_advisor %}
    <h1>Rectory Enrichment</h1>
    <p>
        <ul class="list-group">
            {% if user_is_advisor %}
                <li class="list-group-item">
                    <a href="{% url 'enrichment:advisor-assign' %}">Assign my advisees</a>
                </li>
            {% endif %}
        </ul>
    </p>
{% endblock %}