.slot-grid-item.editable {
    cursor: pointer;
}

.slot-grid-item.saving {
    cursor: not-allowed;
}

.slot-grid-item.saving {
    cursor: not-allowed
}

.slot-grid-item select {
    width: 100%;
}

.slot-grid-table {
    width: 100%;
    table-layout: fixed;
}