div.icons a {
    display: inline-block;
    color: black;
    text-align: center;
    vertical-align: top;

    width: 150px;
    height: 180px;
    margin: 0 10px 30px 10px;
}

div.icons a img {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    object-fit: contain;
}

div.icons a p {
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.icons {
    text-align: center;
}

div.icons div.img-container {
    height: 120px;
}

.show-during-sort {
    display: none;
}