{% extends "base.html" %}
{% load bootstrap4 static %}

{% block title %}Log in{% endblock %}

{% block headextra %}
    <script src="https://apis.google.com/js/api:client.js"></script>

    {{ auth_data|json_script:"auth_data" }}

    <script src="{% static 'accounts/social_login.js' %}"></script
{% endblock %}

{% block content %}

<h1>Rectory Apps Login</h1>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please log in with an account that has access.</p>
    {% else %}
        <p>Please log in to see this page.</p>
    {% endif %}
{% endif %}

<div id="signin-section">
    {% if google_hosted_domain %}
        <button type="button" class="btn btn-primary google-sign-in hide-during-sign-in">Log in with your {{ google_hosted_domain|capfirst }} Google account</button>
    {% else %}
        <button type="button" class="btn btn-primary google-sign-in hide-during-sign-in">Log in with your Google account</button>
    {% endif %}

    <p class="hide-during-sign-in"><a href="{% url 'accounts:login-native' %}">Administrative Login</a></p>
</div>

<div class="show-during-sign-in" style="display:none">Hang tight, we are signing you in</div>

{% endblock %}