{% extends 'calendar_generator/calendar_base.html' %}
{% load static bootstrap4 django_bootstrap_breadcrumbs %}

{% block title %}Calendar: {{ object.title }}{% endblock %}

{% block headextra %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'calendar_generator/calendar.css' %}">
{% endblock %}



{% block content %}
<h1>
    Calendar: {{ calendar.title }}
</h1>

<p><em>{{ calendar.start_date }} to {{ calendar.end_date }}</em>

{% if has_admin_access and perms.calendar_generator.add_calendar %}
    <p class="noprint"><a href="{% url 'admin:calendar_generator_calendar_change' object_id=object.id %}">Edit this calendar</a></p>
{% endif %}

<h2 class="noprint">Monthly Calendars</h2>
<ul class="noprint">
    {% for style_index, style_name in styles %}
        <li>
            <strong>{{ style_name }}</strong>: 
            {% for layout_index, layout_name in layouts %}
                <a href="{% url 'calendar_generator:months-pdf' calendar_id=object.pk%}?layout_index={{ layout_index }}&amp;style_index={{ style_index }}">{{ layout_name }}</a>

                {% if not forloop.last %}
                    &bullet;
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>

<h2 class="noprint">One-page calendar</h2>
<ul class="noprint">
    {% for style_index, style_name in styles %}
        <li>
            <strong>{{ style_name }}</strong>: 
            {% for layout_index, layout_name in layouts %}
                <a href="{% url 'calendar_generator:one-page-pdf' calendar_id=object.pk%}?layout_index={{ layout_index }}&amp;style_index={{ style_index }}">{{ layout_name }}</a>

                {% if not forloop.last %}
                    &bullet;
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
    
<p class="noprint"><a href="{% url 'calendar_generator:custom' calendar_id=calendar.pk %}">Custom Calendar Generator</a></p>
    
{% if today_letter %}
    <h2 class="noprint">Today</h2>
    <p class="noprint"><strong>{{ today }}: {{ today_letter }}</strong></p>
{% endif %}

<h2>Day Rotation</h2>
<p>
    {% for letter in day_rotation %}
        {{ letter }}
        {% if not forloop.last %} &bullet; {% endif %}
    {% endfor %}
</p>

{% if skipped_days %}
    <h2>Days Out of Rotation</h2>
    <ul>

        {% for start, end in skipped_days %}
        <li>
            {{ start }}
            {% if end %}
                through {{ end }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if reset_days %}
    <h2>Days where the rotation is reset</h2>
    <ul>
        {% for date, letter in reset_days %}
            <li>{{ date }} resets to "{{ letter }}"</li>
        {% endfor %}
    </ul>
{% endif %}

{% for calendar in calendars %}
    {% include "calendar_generator/partial/calendar.html" with title=calendar.first_date|date:"F Y" grid=calendar.grid%}

    <div class="noprint">
        <h2>{{calendar.first_date|date:"F Y"}} Printable</h2>
        {% for style_index, style_name in styles %}
            <p><strong>{{ style_name }}</strong>:
                {% for layout_index, layout_name in layouts %}
                    <a href="{% url 'calendar_generator:pdf-single-grid' calendar_id=object.pk %}?style_index={{ style_index }}&amp;layout_index={{ layout_index }}&amp;start_date={{ calendar.first_date|date:"c" }}&amp;end_date={{ calendar.last_date|date:"c" }}&amp;title={{ title|urlencode}}">{{ layout_name }}</a>

                    {% if not forloop.last %}&bullet;{% endif %}
                {% endfor %}
            </p>
        {% endfor %}
    </div>
{% endfor %}      

{% endblock %}