{% extends 'base.html' %}
{% load static %}

{% block title%}Calendar List{% endblock %}

{% block content %}
<h1>Calendar List</h1>
<p>
    <ul>
        {% for calendar in calendar_list %}
            <li><a href="{% url 'calendar_generator:calendar' pk=calendar.pk %}">{{ calendar }}</a></li>
        {% endfor %}    
    </ul>
</p>

{% if request.user.is_staff and perms.calendar_generator.can_add_calendar %}
    <p><a href="{% url 'admin:calendar_generator_calendar_changelist' %}">Administer Calendars</a></p>
{% endif %}

</div>

{% endblock %}