{% load thumbnail %}

{% for folder_id, folder in folders.items %}
  <div class="modal fade" id="folder-{{ folder_id }}" tabindex="-1" role="dialog" aria-labelledby="folder-{{ folder_id }}-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="folder-{{ folder_id }}-label">{{ folder.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="icons">
            {% for icon in folder.icons %}
              {% thumbnail icon.icon "90x90" as im %}
                  <a href="{{ icon.url }}" target="_blank">
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                      <p class="icon-title">{{ icon.title }}</p>
                  </a>
                {% endthumbnail %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

