{% extends "icons/base.html" %}

{% load bootstrap4 static django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb page.title "icons:static-page" slug=page.slug %}
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block headextra %}
    <link rel="stylesheet" href="{% static 'pkg/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'icons/icons.css' %}">

    <script src="{% static 'pkg/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'icons/icons.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="icons">
        {% for item in icons %}
            {% if item.icon_type == "link" %}
                {% include "icons/partial/icon.html" with icon=item %}
            {% endif %}

            {% if item.icon_type == "folder" %}
                {% include "icons/partial/folder_icon.html" with folder=item %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="crosslinks">
        <div class="row">
            <div class="col-4">
                {% for page in crosslinks_left %}
                    <a href="{% url 'icons:page' slug=page.slug %}">{{ page.title }}</a>

                    {% if not forloop.last %} &bullet; {% endif %}
                {% endfor %}
            </div>

            <div class="col-4" style="text-align: center;">
                {% if has_admin_access and perms.icons.change_page %}
                    <p>
                        <a href="{% url 'admin:icons_page_change' object_id=page.id %}">Edit this page</a> &bullet;
                        <span class="hide-during-sort">
                            <a href="#" class="enable-icon-sort">Modify icon order</a>
                        </span>
                        <span class="show-during-sort">
                            <a href="#" class="save-icon-order">Save icon order</a>
                        </span>
                    </p>
                {% endif %}
            </div>

            <div class="col-4" style="text-align: right;">
                {% for page in crosslinks_right %}
                    <a href="{% url 'icons:page' slug=page.slug %}">{{ page.title }}</a>

                    {% if not forloop.last %} &bullet; {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>



    <!-- folder modals-->
    {% for folder in folders %}
        {% include "icons/partial/folder_modal.html" with folder=folder %}
    {% endfor %}
{% endblock %}