@media print {
    .noprint {
        display: none !important;
    }

    div.calendar {
        break-inside: avoid;
    }
}

ul.day-list {
    column-width: 10em;
}

div.calendar table th {
    text-align: center;
}

div.calendar table span.date {
    display: block;
    text-align: right;
    font-size: 18px;
    float: right;
}

div.calendar table span.letter {
    display: block;
    font-size: 36px;
    float: left;
}

div.calendar table span.label {
    display: block;
    font-size: 14px;
    float: left;
}