{% load static bootstrap4 %}

<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <script src="{% static 'js/base.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    
    {% block headextra %}{% endblock %}
    

</head>

<body>
{% include "nav/nav.html" %}
    <div class="container main">
        

        {% bootstrap_messages %}

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>