<span 
    class="slot-grid-item {% if data.editable %}editable{% else %}view-only{% endif %}"
    editable="{{ data.editable }}"
    data-slot-id="{{ data.slot.id }}"
    data-student-id="{{ data.student.id }}"
    data-preferred-options="{{ data.preferred_option_ids | join:','}}"
    data-remaining-options="{{ data.remaining_option_ids | join:','}}"
    data-current-item-id="{% if data.currently_selected %}{{ data.currently_selected.current_option.id }}{% endif %}"
    data-allow-locking="{% if perms.enrichment.change_signup %}1{% else %}0{% endif %}"
    data-locked="{% if data.currently_selected and data.currently_selected.admin_locked%}1{% else %}0{% endif %}"
    >
    {% if data.editable %}
        <i class="fa-solid fa-edit"></i>
    {% endif %}
    
    <span class="current-selection">
        {% if data.currently_selected %}
            {% if data.currently_selected.admin_locked %}
                <i class="fa-solid fa-lock"></i>
            {% endif %}

            {{ data.currently_selected.current_option.display }}
        {% else %}
            No assignment
        {% endif %}
    </span>
</span>

